<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="p" converterClass="com.walklown.attempt.server.dubbo.provider.LogFilterMessageConverter"/>

    <property name="BASE_PATH" value="${user.home}/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}| [%thread] -%p -%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
